<div id="<%= dom_id tweet %>">
  <%= render "likes/like_count", tweet: tweet %>
  <%= render "tweets/body", tweet: tweet %>
  <p>
    <%= link_to "Show this tweet", tweet %>
  </p>
</div>
<%= @user_gid%>
