<p style="color: green"><%= notice %></p>
<%if current_user%>
  <h1><%= current_user.email  %></h1>
  <p><%= @user_gid %></p>
  <%= render 'tweets/form', tweet: Tweet.new %>
<% else %>
  <h1>Login to Tweet</h1>
  <%= link_to 'Login to Tweet', new_user_session_path %>
<% end %>
<br />
<hr />
<% tweets_channel = current_user ? "private_tweets" : "public_tweets" %>
<%= turbo_stream_from tweets_channel, id: tweets_channel %>
<%= turbo_stream_from [@user_gid, 'private_likes'] %>
<%= turbo_stream_from "public_likes" %>
<div id="<%= tweets_channel %>">
  <% @tweets.each do |tweet| %>
    <% if current_user %>
      <%= render "tweets/private_tweet", 
        tweet: tweet, 
        like_status: current_user.liked?(tweet) %>
    <% else %>
      <%= render "tweets/public_tweet", tweet: tweet %>
    <% end %>
  <% end %>
</div>
<%= link_to "New tweet", new_tweet_path %>
